.wrap {
	margin: 20px 0 0 0;
	background-color: white;
	padding: 30px;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.items {
	display: flex;
	align-items: center;
	height: 35px;
	border-bottom: 1px solid #dddddd;
}

.items a {
    color: black;
    margin: 0 0 0 20px;
    font-size: 14px;
    font-weight: 500
}
.items .active {
    color: gold;
}

