.statusWrapper {
    position: relative;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
}

.statusOnChangeDiv {
    padding: 5px;
}

.statusOnChangeDiv:hover {
    background-color: #f1f1f1;
}

.inputWrapper {
    position: absolute;
    height: 90px;
    background-color: lavender;
    border-radius: 8px;
    width: 105%;
    margin: 0 0 0 -30px;
}

.input {
    width: 90%;
    margin: 10px 0 0 20px;
    border-radius: 5px;
    border: #ccc 1px solid;
    padding: 6px 6px 6px 10px;
    font-size: 15px;
}