

.divAvatar {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.backAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: lavender;
    margin: -140px 0 0 0;
    max-height: 260px;
    width: 100%;
    border: 15px solid white;
    /*border-radius: 8px;*/
    cursor: pointer;

}

.avatar {
    height: 100%;

}