.newPostWrap {
	display: flex;
	margin: 10px 0 10px 20px;
	background-color: white;
	padding: 15px 20px 20px 15px;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.textAreaWrap {
	display: flex;
	width: 90%;
}

.textAreaWrap textarea {
	width: 95%;
  	height: 60px;
  	border-radius: 5px;
  	border: #ccc 1px solid;
  	resize: none;
  	padding: 8px 8px 8px 10px;
  	font-size: 16px;
}

.buttonWrap {
	transform: rotate(-0.125turn);
	transition: 0.6s;
	display: flex;
	width: 10%;
	align-self: center;
	margin: 10px 0 0 0;

}

.buttonWrap:hover {
	transform: rotate(0.0turn);
}

.button {
	color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 11px 28px;
    display: inline-block;
    border-radius: 50px;

    background-color: #dc4734;
    transition: 0.6s;
}

.button:hover {
    background-color: #333333;
	cursor: pointer;

}