.newPostWrap {
	display: flex;
	margin: 10px 0 10px 20px;
	background-color: white;
	padding: 10px 15px 10px 15px;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.newPostWrap form {
	display: flex;
	width: 100%
}

.textAreaWrap {
	display: flex;
	width: 100%;
}
