.header {
    display: inline-flex;
    flex: 1 0 auto;
    overflow: hidden;
}

.divHeadImg {
    display: flex;
    flex: 1 0 auto;
    align-items: flex-start;
    height: 250px;
    margin-top: -30px;
    overflow: hidden;
}

.headImg {
    width: 100%;
    margin-top: -30px;
}