.wrapper {
    display: flex;
    justify-content: center;
}

.wrapperCentral {
    display: flex;
    width: 1200px;
}

.leftCentralMenu {
    width: 25%;
}

.rightCentralMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 50px;

}

.item {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    width: 100px;
}

.item a {
    color: black;
    
    font-size: 18px;
    font-weight: 500
}
.item .active {
    color: gold;
}
