.wrapper {
    display: flex;
    justify-content: center;
}

.wrapperCentral {
    display: flex;
    width: 1200px;
}

.leftCentralMenu {
    width: 25%;
}

.rightCentralMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 50px;

}

.item {
    font-weight: bold;
    font-size: 16px;
    width: 100px;
}

