.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.middle-wrapper {
  display: flex;
  justify-content: center;
  width: 99%;
}

.middle {
  display: flex;
  justify-content: center;
  width: 1200px;
  background-color: #f1f1f1;
}

.app-wrapper-content {
  display: flex;
  flex: 1 1 auto;
  background-color: peru;
}


